@import "./mixins";
@import "./resets";
@import "./variables";

.banner {
  width: 75%;
  margin: 5rem auto;
  height: 75vh;
  
}

.cityName{
  font-size: 3.5rem;
  text-align: center;
  margin: 1rem auto;
  font-family: $font-primary;
  color: #FFFF;
}

.banner-container {
  width: 100%;
  height: 100%;
  @include flex(space-evenly, center);
}

.banner-card{
  height: 100%;
  width: 325px;
  border: $accent-color;
  border-radius: 2rem;
  background-color: red;
  margin: 0 1rem;
  
  font-family: $font-primary;
  background-image: linear-gradient(to right top, #700ebc, #8a0fc9, #a410d5, #be11e0, #d812eb);

  .weather-desc{
    @include flex(center,center);
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;

    img{
      scale: 1.3;  
      
    }
  
    h4{
      font-size: 2rem;
      width: auto;
      text-align: center;
      text-transform: capitalize;
      color: #FFF;
      font-weight: 400;
    }
  }

  .temps{
    width: 90%;
    
    margin: 2rem auto;
    @include flex(flex-start,center);
    flex-direction: column;
    color: #FFF;

    h1{
      font-size: 6rem;
      background: linear-gradient(to right bottom, #ff7c4b, #ff9447, #ffac48, #ffc34d, #ffda59, #ffda59, #ffda59, #ffda59, #ffc34d, #ffac48, #ff9447, #ff7c4b);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2{
     
      margin: 1rem 0;
      font-size: 1.875rem;
      font-weight: 400;
    }

    h3{
      
      width: 75%;
      margin: 0.25rem;
      font-weight: 400;
      font-size: 1.875rem;
    }
  }
}
.card-info{
  width: 100%;
  height: 100%;
  
  .info-holder{
    width: 90%;
    
    margin: 2rem auto;
    text-align: center;
    @include flex(center,center);
    flex-direction: column;

    h1{
      font-size: 2.5rem;
      color: #FFF;
      margin: 2rem;
    }

    p{
      font-size: 4.5rem;
      background: linear-gradient(to right bottom, #ff7c4b, #ff9447, #ffac48, #ffc34d, #ffda59, #ffda59, #ffda59, #ffda59, #ffc34d, #ffac48, #ff9447, #ff7c4b);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
    }
  }
}

.forecast-info{
  width: 90%;
  height: 100%;
  margin: 4rem auto;

  .forecast-title{
    font-size: 2.5rem;
    text-align: center;
    color: #FFFF;
  }
}


